GrowCRM – M1_ Intake & Requirement Orchestrator.json
{
  "name": "GrowCRM – M1: Intake & Requirement Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "GrowCrm load",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        -48
      ],
      "id": "60377d53-592e-4f05-ac45-1865dba7e1a8",
      "name": "Webhook",
      "webhookId": "6e97420a-6041-446d-89dc-6cccff36cb2c"
    },
    {
      "parameters": {
        "jsCode": "// Try both body locations - handles both raw and parsed webhook data\nconst body = items[0].json.body || items[0].json || {};\n\n// Extract all fields with fallbacks\nconst client_name = body.client_name || \"Unknown Client\";\nconst category = body.category || \"CRM\";\nconst raw_requirement_text = body.raw_requirement_text || \"\";\nconst budget_range = body.budget_range || \"Not specified\";\nconst deadline_preference = body.deadline_preference || \"Not specified\";\n\n// Build structured prompt — client_name is BAKED INTO the expected JSON response\n// so Ollama will return it back to us and we won't lose it!\nconst prompt = `\nYou are an AI Product Manager.\n\nGenerate a structured product brief for the following client request:\n\nClient Name: ${client_name}\nCategory: ${category}\nRequirements: ${raw_requirement_text}\nBudget: ${budget_range}\nTimeline: ${deadline_preference}\n\nReturn ONLY valid JSON in this exact format with NO extra text:\n\n{\n  \"client_name\": \"${client_name}\",\n  \"category\": \"string\",\n  \"features\": [\"string\"],\n  \"sub_features\": [\"string\"],\n  \"description\": \"string\"\n}\n`;\n\nreturn [{\n  json: {\n    client_name,\n    category,\n    raw_requirement_text,\n    budget_range,\n    deadline_preference,\n    prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -64
      ],
      "id": "e7f8dc64-c53e-4e7d-bb2d-9d66550a07cd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemma3:4b\",\n  \"prompt\": \"={{ $json.prompt.replace(/\\n/g, ' ').replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        -64
      ],
      "id": "bcd89ad1-5ab6-46ff-8f4c-da4931d507cd",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = items[0].json.response;\nconst client_name = items[0].json.client_name || \"\";\n\nlet jsonStr = ollamaResponse;\njsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\nconst start = jsonStr.indexOf('{');\nconst end = jsonStr.lastIndexOf('}');\nif (start !== -1 && end !== -1) {\n  jsonStr = jsonStr.substring(start, end + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = {\n    category: \"CRM\",\n    features: [\"Order Tracking\", \"Customer Database\", \"Reporting\"],\n    sub_features: [\"Dashboard\", \"Analytics\", \"Notifications\"],\n    description: \"AI-generated product brief\"\n  };\n}\n\nreturn [{\n  json: {\n    client_name:  parsed.client_name || client_name,\n    category:     parsed.category    || \"CRM\",\n    features:     parsed.features    || [],\n    sub_features: parsed.sub_features || [],\n    description:  parsed.description  || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -80
      ],
      "id": "9c0abf5b-a5fe-4bc8-ba69-d928cff8cb35",
      "name": "JSON Parsing Node"
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst data = $json;\n\nreturn [{\n  json: {\n    project_id:    generateUUID(),\n    transition_id: generateUUID(),\n    client_name:   data.client_name,\n    category:      data.category      || \"CRM\",\n    description:   data.description   || \"\",\n    features:      Array.isArray(data.features) ? data.features.join(\", \") : \"\",\n    sub_features:  Array.isArray(data.sub_features) ? data.sub_features.join(\", \") : \"\",\n    current_state: \"Requirement Structured\",\n    from_state:    \"Client Intake\",\n    to_state:      \"Requirement Structured\",\n    validated:     true,\n    created_at:    new Date().toISOString(),\n    timestamp:     new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -96
      ],
      "id": "8c88f948-244b-4f9e-9e32-3f2338605960",
      "name": "Generate Project ID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1BOCaRFVgroEllkXSI46ELDfJcNwQzcRxkhaI6ZtxpqM/edit?gid=1515628554#gid=1515628554",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1515628554,
          "mode": "list",
          "cachedResultName": "state transitions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BOCaRFVgroEllkXSI46ELDfJcNwQzcRxkhaI6ZtxpqM/edit#gid=1515628554"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transition_id": "={{$json.transition_id}}",
            "project_id": "={{$json.project_id}}",
            "from_state": "={{$json.from_state}}",
            "to_state": "={{$json.to_state}}",
            "validated": "={{$json.validated}}",
            "timestamp": "={{$json.timestamp}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "transition_id",
              "displayName": "transition_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from_state",
              "displayName": "from_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "to_state",
              "displayName": "to_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "validated",
              "displayName": "validated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -352
      ],
      "id": "92dd46d8-4f52-4f44-8bb9-6b43c3ced8cf",
      "name": "Sheet → state transitions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AokrfI6dR46J5f26",
          "name": "GrowCRM Project"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1BOCaRFVgroEllkXSI46ELDfJcNwQzcRxkhaI6ZtxpqM/edit?gid=1515628554#gid=1515628554",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "projects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BOCaRFVgroEllkXSI46ELDfJcNwQzcRxkhaI6ZtxpqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{$json.project_id}}",
            "client_name": "={{$json.client_name}}",
            "current_state": "={{$json.current_state}}",
            "created_at": "={{$json.created_at}}",
            "category": "={{$json.category}}",
            "description": "={{ $json.description }}",
            "features": "={{$json.features}}",
            "sub_features": "={{$json.sub_features}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "features",
              "displayName": "features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sub_features",
              "displayName": "sub_features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_state",
              "displayName": "current_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        256
      ],
      "id": "c02aabdf-e0b0-4489-be3f-ca64d44f7656",
      "name": "Sheet → projects",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AokrfI6dR46J5f26",
          "name": "GrowCRM Project"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10069",
          "mode": "list",
          "cachedResultName": "GrowCRM v1.0"
        },
        "issueType": {
          "__rl": true,
          "value": "10047",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "=={{$json.client_name}} - {{$json.category}} Project",
        "additionalFields": {
          "description": "=={{$json.description}}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        224,
        64
      ],
      "id": "4ea8a46b-9478-4b36-afec-f7ee6a7bf0f5",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "eqneVkEVu070M5d4",
          "name": "GrowCRM API Jira"
        }
      }
    },
    {
      "parameters": {
        "operation": "transitions",
        "issueKey": "={{$node[\"Create an issue\"].json[\"key\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        496,
        16
      ],
      "id": "23b32405-aa75-4429-ba2b-8aeafe2dad78",
      "name": "Move to Requirement Structure",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "eqneVkEVu070M5d4",
          "name": "GrowCRM API Jira"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "922760ae-84d8-41b0-95fc-910c73396966",
              "leftValue": "==={{ $json.body.client_name || $json.client_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "afb37447-7c9f-4f17-b6e0-e6b8ffcb3d00",
              "leftValue": "==={{ $json.body.raw_requirement_text || $json.raw_requirement_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        -48
      ],
      "id": "e5cd885d-da3c-4048-ad97-15ae491cec0f",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "🟡 GrowCRM – Module 1 (Frozen State)\n\n✔ Webhook intake working\n✔ AND validation enforced\n✔ LLM prompt hardened & sanitized\n✔ JSON parsing stable with fallback\n✔ Project ID + transition ID generated\n✔ Sheets wired directly from domain node\n✔ Jira issue created dynamically\n✔ Workflow structurally stable\n\nStatus: FUNCTIONAL & FROZEN\nNext: Slack (optional polish) → Module 2 (separate workflow)\n\nDo not reopen M1 unless critical bug appears.",
        "height": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -352
      ],
      "id": "1f77b359-5437-4de7-81c0-1fa902dcf3fb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AK9TW83T2",
          "mode": "id"
        },
        "text": "=🚀 GrowCRM Intake Pipeline\n\nA new client requirement has been processed.\n\nClient:\n{{$json.client_name}}\n\nCategory:\n{{$json.category}}\n\nProject ID:\n{{$json.project_id}}\n\nCurrent State:\n{{$json.current_state}}\n\nFeatures Identified:\n{{$json.features}}\n\nDescription:\n{{$json.description}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        224,
        -160
      ],
      "id": "cd4ff7fa-1622-4a40-96b0-5e18abf9698f",
      "name": "Send a message",
      "webhookId": "45e572b3-9d2a-4703-9122-247e969967f5",
      "credentials": {
        "slackApi": {
          "id": "PTHcJcTxEMRoF5CV",
          "name": "Slack Cred for GrowCRM N8N"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        -80
      ],
      "id": "8f85a981-0fa1-4957-86e1-70032a87b9a0",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"project_id\": \"{{ $node['Generate Project ID'].json.project_id }}\",\n  \"key\": \"{{ $node['Create an issue'].json.key }}\",\n  \"client_name\": \"{{ $node['Generate Project ID'].json.client_name }}\",\n  \"category\": \"{{ $node['Generate Project ID'].json.category }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        -64
      ],
      "id": "f3da425d-4325-4ff5-985b-720afb95dc65",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -224
      ],
      "id": "75ae382c-1c67-4346-8672-a24bf7462ffe",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66b04a70-f27a-4ce5-bc57-720ae623e2a1",
              "name": "=project_id",
              "value": "={{ $node['Generate Project ID'].json.project_id }}",
              "type": "string"
            },
            {
              "id": "f39af5fa-d782-4063-b19e-148d2e64e860",
              "name": "=key",
              "value": "={{ $node['Create an issue'].json.key }}",
              "type": "string"
            },
            {
              "id": "b592e2ec-a148-444d-8481-54c1efa5b163",
              "name": "=client_name",
              "value": "={{ $node['Generate Project ID'].json.client_name }}",
              "type": "string"
            },
            {
              "id": "4cd82f33-e0a2-4f13-8adf-0b3388154d48",
              "name": "=category",
              "value": "={{ $node['Generate Project ID'].json.category }}",
              "type": "string"
            },
            {
              "id": "f8cfdfd9-2c6e-4794-982d-45dd21612dea",
              "name": "=description",
              "value": "={{ $node['Generate Project ID'].json.description }}",
              "type": "string"
            },
            {
              "id": "b2f9eeb7-7b04-4364-8cbf-e580686f941c",
              "name": "=features",
              "value": "={{ $node['Generate Project ID'].json.features }}",
              "type": "string"
            },
            {
              "id": "31232471-48c7-47e6-9890-1bac09db424f",
              "name": "=sub_features",
              "value": "={{ $node['Generate Project ID'].json.sub_features }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -80
      ],
      "id": "190fa2ae-65a2-4561-8841-6b12ef8102cd",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "JSON Parsing Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parsing Node": {
      "main": [
        [
          {
            "node": "Generate Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Project ID": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet → state transitions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet → projects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet → projects": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Sheet → state transitions": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Move to Requirement Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Requirement Structure": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2089fea6-147b-4c56-b666-c63d26cc33a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3294931b033528f6418ce49618c0c9631f972baaa3ff1615e91b9e03c6efd9ff"
  },
  "id": "2y5ht0Q54OpHaeXm",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:27:47.460Z",
      "createdAt": "2026-03-01T19:27:47.460Z",
      "id": "LAcjvaq9ZoOhLEsC",
      "name": "project_level"
    }
  ]
}