GrowCRM – Master Orchestrator.json
{
  "name": "GrowCRM – Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "growcrm-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -64
      ],
      "id": "d76492ea-6468-43c9-afa6-006355206c13",
      "name": "Webhook",
      "webhookId": "8a590e63-fb42-4020-9e43-a59410314e49"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"GrowCRM pipeline executed successfully\",\n  \"project_id\": \"={{ $('Call \\'GrowCRM – M1: Intake & Requirement Orchestrator\\'').first().json.project_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        -64
      ],
      "id": "fdbfbf43-3e42-4454-9ec5-0c4ef8316797",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2y5ht0Q54OpHaeXm",
          "mode": "list",
          "cachedResultUrl": "/workflow/2y5ht0Q54OpHaeXm",
          "cachedResultName": "GrowCRM – M1: Intake & Requirement Orchestrator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        -64
      ],
      "id": "8f9a83f4-4310-4e72-ae9f-1ce9b1a661d3",
      "name": "Call 'GrowCRM – M1: Intake & Requirement Orchestrator'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sKthihhe4PPxJ1Tx",
          "mode": "list",
          "cachedResultUrl": "/workflow/sKthihhe4PPxJ1Tx",
          "cachedResultName": "GrowCRM – M2: Evaluation & Scoring Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        -64
      ],
      "id": "3f2f8817-20b8-4e13-b251-a8a7e9756edb",
      "name": "Call 'GrowCRM – M2: Evaluation & Scoring Engine'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "URmr71yRKCwV3S3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/URmr71yRKCwV3S3A",
          "cachedResultName": "GrowCRM – M3: Development Lifecycle & Feedback Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        -64
      ],
      "id": "e87deeb5-31e0-4567-8d07-bebdc9078dd6",
      "name": "Call 'GrowCRM – M3: Development Lifecycle & Feedback Engine'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d704a13d-0792-4dfa-97c9-dea1034d6d87",
              "name": "=jira_key",
              "value": "={{ $('Call \\'GrowCRM – M1: Intake & Requirement Orchestrator\\'').first().json.key }}",
              "type": "string"
            },
            {
              "id": "31e44c62-0974-485e-9a3f-39c73e17898c",
              "name": "=feedback_status",
              "value": "selected_for_development",
              "type": "string"
            },
            {
              "id": "aea9610f-7344-4374-8f86-0166851ce8f7",
              "name": "=feedback_notes",
              "value": "=Concept selected via AI evaluation",
              "type": "string"
            },
            {
              "id": "7976a253-d050-4693-8709-1126075e32b9",
              "name": "=status",
              "value": "=selected_for_development",
              "type": "string"
            },
            {
              "id": "9f32c036-da02-474e-ace3-b03ddb70cdc9",
              "name": "=client_name",
              "value": "={{ $('Call \\'GrowCRM – M1: Intake & Requirement Orchestrator\\'').first().json.client_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -64
      ],
      "id": "38ba2bd2-952c-4033-b837-1836c321005a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qFKozyCjmtm6mtjv",
          "mode": "list",
          "cachedResultUrl": "/workflow/qFKozyCjmtm6mtjv",
          "cachedResultName": "GrowCRM – M4: Communication & Governance Layer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        544,
        -64
      ],
      "id": "3d2eb379-7652-427f-a527-a0bbf15e7722",
      "name": "Call 'GrowCRM – M4: Communication & Governance Layer'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'GrowCRM – M1: Intake & Requirement Orchestrator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GrowCRM – M1: Intake & Requirement Orchestrator'": {
      "main": [
        [
          {
            "node": "Call 'GrowCRM – M2: Evaluation & Scoring Engine'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GrowCRM – M2: Evaluation & Scoring Engine'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GrowCRM – M3: Development Lifecycle & Feedback Engine'": {
      "main": [
        [
          {
            "node": "Call 'GrowCRM – M4: Communication & Governance Layer'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'GrowCRM – M3: Development Lifecycle & Feedback Engine'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GrowCRM – M4: Communication & Governance Layer'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6bffb37-f7c9-4f13-bde6-626194e16f17",
  "meta": {
    "instanceId": "3294931b033528f6418ce49618c0c9631f972baaa3ff1615e91b9e03c6efd9ff"
  },
  "id": "vv1X9MtEEUVUjSYw",
  "tags": []
}