GrowCRM – M2_ Evaluation & Scoring Engine.json
{
  "name": "GrowCRM – M2: Evaluation & Scoring Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluation scoring engine",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        -48
      ],
      "id": "6d4cccec-b509-4e39-9252-d9d7028f3c56",
      "name": "Webhook",
      "webhookId": "aab36af9-5a8c-4f6a-a254-8a88fad947d1"
    },
    {
      "parameters": {
        "jsCode": "// Try both body locations - handles both raw and parsed webhook data\nconst body = items[0].json.body || items[0].json || {};\n\n// Extract all fields with fallbacks\nconst client_name = body.client_name || \"Unknown Client\";\nconst category = body.category || \"CRM\";\nconst raw_requirement_text = body.raw_requirement_text || \"\";\nconst budget_range = body.budget_range || \"Not specified\";\nconst deadline_preference = body.deadline_preference || \"Not specified\";\n\n// Build structured prompt — client_name is BAKED INTO the expected JSON response\n// so Ollama will return it back to us and we won't lose it!\nconst prompt = `\nYou are an AI Product Manager.\n\nGenerate a structured product brief for the following client request:\n\nClient Name: ${client_name}\nCategory: ${category}\nRequirements: ${raw_requirement_text}\nBudget: ${budget_range}\nTimeline: ${deadline_preference}\n\nReturn ONLY valid JSON in this exact format with NO extra text:\n\n{\n  \"client_name\": \"${client_name}\",\n  \"category\": \"string\",\n  \"features\": [\"string\"],\n  \"sub_features\": [\"string\"],\n  \"description\": \"string\"\n}\n`;\n\nreturn [{\n  json: {\n    client_name,\n    category,\n    raw_requirement_text,\n    budget_range,\n    deadline_preference,\n    prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -64
      ],
      "id": "1e8f9b04-6c37-401d-85db-66c910e164f5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "922760ae-84d8-41b0-95fc-910c73396966",
              "leftValue": "=={{ $json.body.client_name || $json.client_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "afb37447-7c9f-4f17-b6e0-e6b8ffcb3d00",
              "leftValue": "=={{ $json.body.raw_requirement_text || $json.raw_requirement_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        -48
      ],
      "id": "24ec0229-5ef8-4436-8b53-c7977b19e20d",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemma3:4b\",\n  \"prompt\": \"You are a product governance analyst.\\n\\nTwo product concepts were tested with simulated survey users.\\n\\nVariant A:\\n{{$input.item(0).json.product_concept}}\\n\\nVariant B:\\n{{$input.item(1).json.product_concept}}\\n\\nSimulate a survey outcome between the two concepts.\\n\\nReturn JSON only:\\n{\\n\\\"variant_A_percent\\\": number,\\n\\\"variant_B_percent\\\": number,\\n\\\"confidence_score\\\": number,\\n\\\"recommended_variant\\\": \\\"A or B\\\",\\n\\\"reason\\\": \\\"short explanation\\\"\\n}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        -16
      ],
      "id": "e8a25afd-0153-40c5-ba80-14a7422e5aa2",
      "name": "Evaluation LLM"
    },
    {
      "parameters": {
        "jsCode": "const responseText = $json.response;\n\n// remove markdown fences if present\nconst cleaned = responseText\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsed = JSON.parse(cleaned);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -16
      ],
      "id": "6c4eabc2-8bb2-4a06-a622-60a2e5f4d728",
      "name": "Parse Evaluation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e808fc10-6005-46d1-94a0-e6e49d9546d2",
              "leftValue": "=={{ $json.recommended_variant }}",
              "rightValue": "=A",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        -16
      ],
      "id": "ec7022d2-a7e2-45b9-b98b-be7bd5bbeab3",
      "name": "Score Decision"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemma3:4b\",\n  \"prompt\": \"You are an AI Product Manager.\\n\\nGiven the following client requirement:\\n\\nClient: {{$json.client_name}}\\nRequirement: {{$json.raw_requirement_text}}\\n\\nGenerate Product Variant A.\\n\\nReturn JSON only:\\n{\\n\\\"variant\\\": \\\"A\\\",\\n\\\"product_concept\\\": \\\"...\\\",\\n\\\"key_features\\\": [\\\"...\\\"],\\n\\\"target_users\\\": \\\"...\\\",\\n\\\"unique_value\\\": \\\"...\\\"\\n}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -224
      ],
      "id": "b38537bd-1802-4497-ad6b-217255def774",
      "name": "LLM Gemma",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"You are an AI Product Manager.\\n\\nGiven the following client requirement:\\n\\nClient: {{$json.client_name}}\\nRequirement: {{$json.raw_requirement_text}}\\n\\nGenerate Product Variant B.\\n\\nReturn JSON only:\\n{\\n\\\"variant\\\": \\\"B\\\",\\n\\\"product_concept\\\": \\\"...\\\",\\n\\\"key_features\\\": [\\\"...\\\"],\\n\\\"target_users\\\": \\\"...\\\",\\n\\\"unique_value\\\": \\\"...\\\"\\n}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        176
      ],
      "id": "7b8e1d55-7ba0-47c4-ac0e-965052c8f25b",
      "name": "LLM Llama",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = items[0].json.response;\nconst client_name = items[0].json.client_name || \"\";\n\nlet jsonStr = ollamaResponse;\njsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\nconst start = jsonStr.indexOf('{');\nconst end = jsonStr.lastIndexOf('}');\nif (start !== -1 && end !== -1) {\n  jsonStr = jsonStr.substring(start, end + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = {\n    category: \"CRM\",\n    features: [\"Order Tracking\", \"Customer Database\", \"Reporting\"],\n    sub_features: [\"Dashboard\", \"Analytics\", \"Notifications\"],\n    description: \"AI-generated product brief\"\n  };\n}\n\nreturn [{\n  json: {\n    client_name:  parsed.client_name || client_name,\n    category:     parsed.category    || \"CRM\",\n    features:     parsed.features    || [],\n    sub_features: parsed.sub_features || [],\n    description:  parsed.description  || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -192
      ],
      "id": "6b786b07-69f5-4ee4-b774-83202aa31907",
      "name": "Parse A"
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = items[0].json.response;\nconst client_name = items[0].json.client_name || \"\";\n\nlet jsonStr = ollamaResponse;\njsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\nconst start = jsonStr.indexOf('{');\nconst end = jsonStr.lastIndexOf('}');\nif (start !== -1 && end !== -1) {\n  jsonStr = jsonStr.substring(start, end + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = {\n    category: \"CRM\",\n    features: [\"Order Tracking\", \"Customer Database\", \"Reporting\"],\n    sub_features: [\"Dashboard\", \"Analytics\", \"Notifications\"],\n    description: \"AI-generated product brief\"\n  };\n}\n\nreturn [{\n  json: {\n    client_name:  parsed.client_name || client_name,\n    category:     parsed.category    || \"CRM\",\n    features:     parsed.features    || [],\n    sub_features: parsed.sub_features || [],\n    description:  parsed.description  || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        208
      ],
      "id": "65f35b9c-eb18-4e34-9d84-dd558bd632e5",
      "name": "Parse B"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        -16
      ],
      "id": "43078916-09ab-4ca0-add5-27d58ef8b621",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"recommended_variant\": \"={{ $json.recommended_variant }}\",\n  \"confidence_score\": \"={{ $json.confidence_score }}\",\n  \"reason\": \"={{ $json.reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        -32
      ],
      "id": "425b1c78-947c-4e60-8941-377cf7ec06e2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        -208
      ],
      "id": "56750a99-9e52-4119-8a84-008d3a506696",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "LLM Gemma",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Llama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "Score Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Gemma": {
      "main": [
        [
          {
            "node": "Parse A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Llama": {
      "main": [
        [
          {
            "node": "Parse B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Evaluation LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Decision": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bac29fa7-0feb-4a2a-98fa-f75cb7355d8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3294931b033528f6418ce49618c0c9631f972baaa3ff1615e91b9e03c6efd9ff"
  },
  "id": "sKthihhe4PPxJ1Tx",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:27:47.460Z",
      "createdAt": "2026-03-01T19:27:47.460Z",
      "id": "LAcjvaq9ZoOhLEsC",
      "name": "project_level"
    }
  ]
}